.resizable {
  width: 256px;
  height: 512px;
  background-color: rgba(0, 0, 0, 0.24);
  position: relative;
}

.resizable > .resizable-anchor {
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: ew-resize;
  background-color: red;
}
